@use './vars';
@use './cmps';

:root {
  @include vars.theme_light_cssvars;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Itim, 'Noto Sans JP', cursive;
}

@media print {
  @page {
    margin-top: 0;
  }
}

@media screen {
  html {
    &.dark {
      @include vars.theme_dark_cssvars;
    }
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-size: 16px;
  -webkit-print-color-adjust: exact;

  @media print {
    height: 100%;
    font-size: 10px;
  }
}

body {
  &.scroll-y {
    overflow-y: scroll;
  }
}

/* stylelint-disable-next-line selector-id-pattern */
body,
#__nuxt,
#__layout {
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-height: var(--maxvh, 100vh);

  @media print {
    height: 100%;
    min-height: unset !important;
  }
}

table {
  width: 100%;
  margin: 5px 0;
  color: var(--color-6);
  border-collapse: collapse;

  th,
  td {
    padding: 5px 10px;
    vertical-align: middle;
  }

  th {
    width: 1px;
    font-weight: normal;
    text-align: left;
    white-space: nowrap;
  }
}

a {
  color: var(--color-l);
}

form > div {
  @include cmps.row;

  position: relative;
  flex: 1;
  align-items: center;
  padding: 5px;

  & > * {
    padding: 5px;

    &:not(label) {
      flex: 1;
    }
  }

  input,
  textarea {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.7rem + 2px);
    padding: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-3);
    appearance: none;
    background: var(--color-f);
    background-clip: padding-box;
    border: 1px solid var(--color-c);
    border-radius: 0.6rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    backface-visibility: hidden;

    &:disabled,
    &[disabled] {
      background-color: var(--color-e);
    }

    &:focus,
    &:active {
      border-color: var(--color-p);
      outline: 0;
      box-shadow: 0 0 0 0.2rem var(--input-active-outine);
    }
  }
}

.row {
  @include cmps.row;
}

.overflow-x-a {
  overflow-x: auto;
}
