@import './vars.scss';

* {
  font-family: 'Itim', 'Noto Sans JP', cursive;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  -webkit-print-color-adjust: exact;
}

body,
#__nuxt,
#__layout {
  width: 100%;
  min-height: 100vh;
  min-height: var(--maxvh, 100vh);
  position: relative;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  flex-wrap: wrap;
  & > * {
    padding: 3px;
  }
}

.button {
  appearance: none;
  cursor: pointer;
  border: 1px solid #999;
  background: #eee;
  border-radius: 10px;
  padding: 0 1.5em;
  font-size: 0.9em;
  white-space: nowrap;
  line-height: 2;

  &.big {
    line-height: 2.5;
  }

  &:disabled {
    border-color: #888;
  }

  &:not(:disabled) {
    &:hover {
      box-shadow: 1px 1px 1px #666;
    }

    &[selected] {
      background: rgb(255, 208, 138);
    }
  }
}

.form-group {
  align-items: center;
  padding: 5px;
  flex: 1;
  & > * {
    padding: 5px;
    &:not(label) {
      flex: 1;
    }
  }
  input,
  textarea {
    appearance: none;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.7rem + 2px);
    padding: 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 0.6rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    backface-visibility: hidden;

    &:disabled,
    &[disabled] {
      background-color: #eee;
    }

    &:focus,
    &:active {
      outline: 0;
      border-color: rgba(255, 153, 0, 1);
      box-shadow: 0 0 0 0.2rem rgba(255, 153, 0, 0.6);
    }
  }
  &.placeholder {
    position: relative;
    input {
      z-index: 1;
      background: transparent;
      &:focus,
      &:active {
        & + label {
          display: none;
        }
      }
    }
    label {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px;
      height: 100%;
      width: 100%;
      pointer-events: none;
      color: #aaa;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.table {
  display: table;
  width: 100%;
  border-collapse: collapse;

  & > * {
    display: table-row;

    & > * {
      display: table-cell;
      padding: 8px 15px;
      vertical-align: middle;
    }
  }
}

.sm-table {
  margin: 0 auto;
  border-collapse: collapse;

  th {
    font-weight: normal;
    text-align: left;
    padding: 2px 20px;
  }

  td {
    text-align: right;
    padding: 2px 20px;
  }

  thead {
    th {
      text-align: center;
      border-bottom: 1px solid #ccc;
      padding: 5px 10px;
    }
  }
}

.row {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  @for $i from 1 to 13 {
    & > .col-#{$i} {
      width: 100% / 12 * $i;
    }

    & > .col-#{$i}-5 {
      width: 100% / 12 * $i + 100% / 24;
    }

    @include __media_s {
      & > .col-s-#{$i},
      & > .col-s-#{$i}[class^='col-'] {
        width: 100% / 12 * $i;
        max-width: 100% / 12 * $i;
      }

      & > .col-s-#{$i}-5,
      & > .col-s-#{$i}-5[class^='col-'] {
        width: 100% / 12 * $i + 100% / 24;
        max-width: 100% / 12 * $i + 100% / 24;
      }
    }

    @include __media_m {
      & > .col-m-#{$i},
      & > .col-m-#{$i}[class^='col-'] {
        width: 100% / 12 * $i;
        max-width: 100% / 12 * $i;
      }

      & > .col-m-#{$i}-5,
      & > .col-m-#{$i}-5[class^='col-'] {
        width: 100% / 12 * $i + 100% / 24;
        max-width: 100% / 12 * $i + 100% / 24;
      }
    }

    @include __media_sm {
      & > .col-sm-#{$i},
      & > .col-sm-#{$i}[class^='col-'] {
        width: 100% / 12 * $i;
        max-width: 100% / 12 * $i;
      }

      & > .col-sm-#{$i}-5,
      & > .col-sm-#{$i}-5[class^='col-'] {
        width: 100% / 12 * $i + 100% / 24;
        max-width: 100% / 12 * $i + 100% / 24;
      }
    }

    @include __media_ml {
      & > .col-ml-#{$i},
      & > .col-ml-#{$i}[class^='col-'] {
        width: 100% / 12 * $i;
        max-width: 100% / 12 * $i;
      }

      & > .col-ml-#{$i}-5,
      & > .col-ml-#{$i}-5[class^='col-'] {
        width: 100% / 12 * $i + 100% / 24;
        max-width: 100% / 12 * $i + 100% / 24;
      }
    }
  }
}

.overflow-x-a {
  overflow-x: auto;
}
